@import "./variables";

//Styling for pages with forms
.form-container h3 {
  font-weight: 400;
  font-size: $large;
  padding-top: $xlarge;
  text-align: center;
}

form {
  max-width: 32rem;
  margin: auto;
  padding: $default;
  section {
    display: flex;
    flex-direction: column;
    label {
      padding-top: $xlarge;
    }
    input {
      min-height: 2.1875rem;
      border-radius: 6px;
      border: none;
    }
    textarea {
      height: 16.5625rem;
      border: none;
      resize: none;
    }
  }
}

textarea:focus-visible, input:focus-visible {
    outline: rgb(194, 191, 191) auto 1px;
}