@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Itim&display=swap');

//Variables
$bgColorBody: #e9e9e9;
$bgColor: #e0e0e0;
$shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

$small: .75rem;
$medium: 1rem;
$default: 1.25rem;
$large: 1.625rem;
$xlarge: 2.25rem;

@mixin box {
  font-family: 'Inter';
  box-shadow: $shadow;
  font-size: $default;
  padding: $default;
  background-color: $bgColor;
}

