@import "./variables";

footer {
  background-color: $bgColor;
  opacity: .8;
  font-size: $medium;
  text-align: center;
  padding: $xlarge;
  margin-top: $default;
  p:not(:first-child) {
    padding: 0;
  }
}