@import "./quoteCard";
@import "./variables";
@import "./error";
@import "./form";

//General styling
body {
  font-family: 'Inter';
  background-image: url("https://images.unsplash.com/photo-1629968417850-3505f5180761?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=752&q=80");
  background-repeat:repeat;
  background-size: contain;
}

article {
  padding: $default;
  max-width: 50rem;
  width: 100%;
  margin: auto;
  background-color: $bgColorBody;
  box-shadow: $shadow;
}

a {
  text-decoration: none;
  color: black;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: $small
}

.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
}

button {
  @include box;
  width: 10rem;
  border-radius: 6px;
  border: none;
  margin: 1rem
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.icon {
  color: gray
}

.icon:hover {
  color: black
}

