@import "./quoteCard";
@import "./variables";
@import "./error";
@import "./form";

body {
  font-family: 'Inter';
  background-color: $bgColorBody;
}
article {
  padding: $padding-large;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: $padding-small
}

i {
  color: black;
}

.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
}

button {
  width: 10rem;
  padding: $padding-large;
  background-color: $bgColor;
  font-size: $fontSizeDefault;
  line-height: 1.5rem;
  font-family: 'Inter';
  border-radius: 6px;
  box-shadow: $shadow;
  border: none;
  margin: 1rem
}

button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}

.form-container h3 {
  font-weight: 400;
  font-size: $fontSizeMedium;
  padding-top: $padding-xl;
  line-height: $fontSizeDefault;
  text-align: center;
}